@charset "UTF-8";
@import "./style";

.login{
	position: relative;
	width: 100vw;
	height: 100vh;
	background:  url("../image/login.jpg")no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
}

.form{
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: 777;
	width: 600px;
	height: 400px;
	background-color: #fff;
}

.footer{
	position: absolute;
	bottom: 10%;
	z-index: 777;
	color: #ffffff;
}