@charset "UTF-8";
@import "./style";
/*  font-size */
.fz12{
	font-size: @fz12;
}
.fz14{
	font-size: @fz14;
}
.fz16{
	font-size: @fz16;
}
.fz18{
	font-size: @fz18;
}
.fz20{
	font-size: @fz20;
}
/* padding */
.p5{
	padding: 5px;
}
.p10{
	padding: 10px;
}
.plr5{
	padding-left: 5px;
	padding-right: 5px;
}
.plr10{
	padding-left: 10px;
	padding-right: 10px;
}
.ptb5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.ptb10{
	padding-top: 10px;
	padding-bottom: 10px;
}
/* margin */
.m5{
	margin: 5px;
}
.m10{
	margin: 10px;
}
.mlr5{
	margin-left: 5px;
	margin-right: 5px;
}
.mlr10{
	margin-left: 10px;
	margin-right: 10px;
}
.mtb5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.mtb10{
	margin-top: 10px;
	margin-bottom: 10px;
}